body {
    background-color: #4f4f4f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .cell {
    background-color: #c5b8dd;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    font-family: "Fredoka One", cursive;
  }

  .p1 {
    background-color: #6765bf;
  }
  
  .p2 {
    background-color: #92bdde;
  }
  
  .p1,
  .p2 {
    transition: background-color 0.29s;
  }
  
  .score {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 150px;
    position: absolute;
    top: 50px;
}

#player1-score-box,
#player2-score-box {
  background-color: #464646;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  padding-left: 30px;
  border: 1px solid black;
  border-radius: 15px;
  width: 300px;
  height: 50px;
}

p {
    padding-right: 30px;
    font-size: 25px;
}